//scop 이미지 부분의 css입니다. 최대 사이즈를 200px로 설정하였고, 좌우 마진을 auto로 설정하여 가운데로 정렬 하였습니다.
.scop_profile{
    margin: auto;
    width: 200px;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
}

//ion-col 부분의 공통 속성입니다. 순서대로 텍스트를 가운데 정렬하였고, 폰트 사이즈는 large, 색깔은 밝은 검은색으로 설정 하였습니다.
ion-col{
    text-align: center;
    font-size: large;
    color:#2e3131
}